* {
	box-sizing: border-box;
	font-family: 'Lucida Console', 'Courier New', monospace;
}

body {
	background-color: #cd853f;
}

header {
	position: fixed;
	top: 0;	
	width: 100%;
	height: 8em;
	margin: auto;
	background-color: #cd853f;
}

h1 {
	text-align: center;
}

#buttonAddBook {
	display: block;
	margin: auto;
	padding: 0.5em;
	border: none;
	border-radius: 0.3em;
	font-size: 1.2em;
	background-color: #0080ff;
	color: white;
}

main {
	padding-top: 8em;
}

#outputMyLibrary {
	display: flex;
	flex-flow: row wrap;
	gap: 2em;
	justify-content: space-evenly;
	margin-top: 2em;
	text-align: center;
}

.divBook {
	flex: 1 1 auto;
	border: 0.1em solid black;
	padding: 1em;
	background-color: #ffdab9;
}

.divButtons {
	display: flex;
	flex-flow: row wrap;
	gap: 1em;
	justify-content: space-evenly;
	text-align: center;
}

.buttonToggleRead {
	border: none;
	border-radius: 0.5em;
	display: block;
	margin: auto 0.5em;
	padding: 0.5em;
	background-color: #9acd32;
}

.buttonRemoveBook {
	border: none;
	border-radius: 0.5em;
	display: block;
	margin: auto 0.5em;
	padding: 0.5em;
	background-color: #ff69b4;
}

#formAddBook {
	display: none;
	position: fixed;
	z-index: 1;
	margin: auto;
	width: 60%;
	overflow: auto;
	border: 1px solid black;
	background-color: rgb(204, 204, 204);
	text-align: center;
}

#buttonCloseForm {
	float: right;
	font-weight: bold;
}

#buttonCloseForm:hover, #buttonCloseForm:focus {
	text-decoration: none;
	cursor: pointer;
}

#buttonAddBook:hover, .buttonToggleRead:hover, .buttonRemoveBook:hover, #buttonAddBook:focus, .buttonToggleRead:focus, .buttonRemoveBook:focus {
	border: 1px solid black;
	cursor: pointer;
}

#buttonAddBook:active, .buttonToggleRead:active, .buttonRemoveBook:active {
	border: 1px solid black;
	color: white;
	cursor: pointer;
}

