* {
	font-family: 'Lucida Console', 'Courier New', monospace;
}

h1 {
	text-align: center;
}

#formAddBook {
	display: none;
	position: fixed;
	z-index: 1;
	top: 20%;
	width: 60%;
	overflow: auto;
	border: 1px solid black;
	background-color: rgb(204, 204, 204);
}

#buttonCloseForm {
	float: right;
	font-weight: bold;
}

#buttonCloseForm:hover, #buttonCloseForm:focus {
	text-decoration: none;
	cursor: pointer;
}
